#tableApartado > .ant-table-title {
	background: linear-gradient(#000066, #000058, #000036);
	border-radius: 25px 5px 0 0;
}

#inputApartado {
	padding: 0;
	border: none;
	outline: none;
	text-align-last: center;
	color: #000085;
	border-radius: 50px;
	font-size: x-large;
	font-weight: bold;
	padding-left: 20px;
}

.labelAddProducts {
	border-radius: 50px;
}

#imputAddProduct > input.ant-input {
	padding: 0;
	border: none;
	outline: none;
	text-align-last: center;
	color: blue;
	border-radius: 50px;
	font-size: x-large;
	font-weight: bold;
	padding-left: 20px;
}
