#cardLogin {
	padding: 0px;
	max-width: 539px;
	height: 300px;
	box-shadow: 17px 17px 32px #929292, -17px -17px 32px #ffffff;
	border-radius: 25px 5px 25px 5px;
}
#cardLoginMobile {
	padding: 0px;
	width: 393px;
	height: 300px;
	box-shadow: 17px 17px 32px #929292, -17px -17px 32px #ffffff;
	border-radius: 25px 5px 25px 5px;
}

#inputLogin {
	padding: 0;
	border: 10px;
	outline: none;
	text-align-last: center;
	color: #000085;
	border-radius: 50px;
	font-size: large;
	font-weight: bold;
	padding-left: 20px;
}
#inputLogin2 {
	padding: 0;
	border: none;
	outline: none;
	text-align-last: center;
	color: #000085;
	border-radius: 50px;
	font-size: x-large;
	font-weight: bold;
	padding-left: 20px;
}
#nameLogo {
	color: white;
}
.ant-select-selector #inputLogin {
	cursor: text;
	height: 43px;
	border-radius: 50px;
}

div.pageLoading {
	background: linear-gradient(#000066, #000058, #000036);
	height: 100%;
	width: 100%;
	justify-content: center;
	align-content: center;
	position: absolute;
}
@keyframes latidos {
	from {
		transform: none;
	}
	11% {
		transform: scale(1.4);
	}
	to {
		transform: none;
	}
}
img.imagenLogin {
	position: fixed;
	top: 30%;
	left: 43%;
	max-width: 30%;
	max-height: 30%;
	z-index: 9999999;
	animation: latidos 1.5s infinite;
}
