.finalTicket {
	display: flex;
	align-items: center;
	place-content: flex-end;
	padding: 0px;
	max-width: 190px;
}
.sumaTabla {
	display: flex;
	align-items: center;
	place-content: flex-end;
	padding: 0px;
	max-width: 190px;

	font-weight: bold;
}
.cambio {
	display: flex;
	align-items: center;
	place-content: flex-end;
	padding-bottom: 15px;
	max-width: 190px;

	font-weight: bold;
}
.tituloTicketApartado {
	text-align-last: center;
	padding: 0px;
	max-width: 190px;

	font-weight: bold;
}
.subtituloTicketApartado {
	padding: 0px;
	max-width: 190px;

	font-weight: bold;
	margin-top: 15px;
}
.productosApartado {
	padding-bottom: 0px;
	text-indent: initial;
	border-bottom: 0.5px solid black;
	width: 190px;
}
.productosApartado td {
	padding: 0.2em 0.8em;
	text-align: left;
	padding-bottom: 0px;
	padding-top: 0px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
} */
#inputPrincipalPrintESC:focus {
	background: linear-gradient(#ffffff, #93ceff);

	/* box-shadow: 1px 1px 10px #7e9ab1, -1px -1px 10px #a7d4f8; */
}
