.ant-drawer-content-wrapper {
	width: 33vw !important;
}
.ant-drawer-body {
	padding: 0px !important;
}
.btnCarrito {
	color: darkblue;
	/* box-shadow: 5px 5px 29px #230d9e, -5px -5px 29px #8889b1; */
}

.btnBorrar {
	color: #c5221f;
}
.tituloDrawer {
	color: darkblue;
	font-weight: bold;
}
