.ant-layout-sider-trigger {
	background: linear-gradient(#0000a6, #000066, #000058);
}

/* .ant-menu-dark.ant-menu-horizontal {
	border-bottom: 0;
	background: linear-gradient(#0000a6, #000066, #000058);
} */
