.ant-layout-sider-trigger {
	background: linear-gradient(#000066, #000058, #000036);
}
.ant-tooltip-inner {
	min-width: 30px;
	min-height: 32px;
	padding: 6px 8px;
	color: black;
	text-align: left;
	text-decoration: none;
	word-wrap: break-word;
	background-color: rgba(255, 255, 255, 0.986);
	border-radius: 2px;
	box-shadow: 5px 5px 29px #b3b3b3, -5px -5px 29px #ffffff;
}

.ant-menu-inline {
	width: 200px;
	position: fixed;
}
.ant-menu.ant-menu-inline-collapsed {
	width: 80px !important;
	position: fixed !important;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
	border-right: 3px solid blue;
}

.iconLayoutV > svg.ant-menu-item-icon {
	color: #004882;
	font-size: 25px !important;
}

.iconLayoutV > span.ant-menu-title-content {
	font-size: 18px;
}
