.ant-layout-sider-trigger {
	background: linear-gradient(#000066, #000058, #000036);
}

/* .ant-menu-dark.ant-menu-horizontal {
	border-bottom: 0;
	background: linear-gradient(#000066, #000058, #000036);
} */
