.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
	color: #fff;
	background: limegreen;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	border: 4px solid blue;
	border-radius: 2px;
	content: "";
}
